In [114]:
import pandas as pd 
import numpy as np 
import pickle

In [115]:
df_com = pd.read_pickle('data.pickle')
df_recall = pd.read_pickle('recall.pickle')
df_inv = pd.read_pickle('inv.pickle')

In [116]:
df_com.drop_duplicates()

,CMPLID,ODINO,MFR_NAME,MAKETXT,MODELTXT,YEARTXT,CRASH,FAILDATE,FIRE,INJURED,...,RESTRAINT_TYPE,DEALER_NAME,DEALER_TEL,DEALER_CITY,DEALER_STATE,DEALER_ZIP,PROD_TYPE,REPAIRED_YN,MEDICAL_ATTN,VEHICLES_TOWED_YN
0,1,958241,"Volvo Car USA, LLC",VOLVO,760,1987,N,,N,0,...,,,,,,,V,,N,N
1,2,958130,Ford Motor Company,FORD,THUNDERBIRD,1992,N,19941222,N,0,...,,,,,,,V,,N,N
2,3,958132,"Kia America, Inc.",KIA,SEPHIA,1994,Y,19941230,N,0,...,,,,,,,V,,N,N
3,4,958133,"Chrysler (FCA US, LLC)",DODGE,600,1987,N,19941231,N,0,...,,,,,,,V,,N,N
4,5,958137,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1991,N,19941218,N,0,...,,,,,,,V,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1842080,1842081,11485773,"Tesla, Inc.",TESLA,MODEL X,2016,Y,20220913,N,0,...,,,,,,,V,,N,Y
1842081,1842082,11485773,"Tesla, Inc.",TESLA,MODEL X,2016,Y,20220913,N,0,...,,,,,,,V,,N,Y
1842082,1842083,11485774,Honda (American Honda Motor Co.),HONDA,RIDGELINE,2018,N,20220801,N,0,...,,,,,,,V,,N,N
1842083,1842084,11485774,Honda (American Honda Motor Co.),HONDA,RIDGELINE,2018,N,20220801,N,0,...,,,,,,,V,,N,N
1842084,1842085,11485774,Honda (American Honda Motor Co.),HONDA,RIDGELINE,2018,N,20220801,N,0,...,,,,,,,V,,N,N

In [117]:
df_com.columns

Index(['CMPLID', 'ODINO', 'MFR_NAME', 'MAKETXT', 'MODELTXT', 'YEARTXT',
       'CRASH', 'FAILDATE', 'FIRE', 'INJURED', 'DEATHS', 'COMPDESC', 'CITY',
       'STATE', 'VIN', 'DATEA', 'LDATE', 'MILES', 'OCCURENCES', 'CDESCR',
       'CMPL_TYPE', 'POLIICE_RPT_YN', 'PURCH_DT', 'ORIG_OWNER_YN',
       'ANTI_BRAKES_YN', 'CRUISE_CONT_YN', 'NUM_CYLS', 'DRIVE_TRAIN',
       'FUEL_SYS', 'FUEL_TYPE', 'TRANS_TYPE', 'VEH_SPEED', 'DOT', 'TIRE_SIZE',
       'LOC_OF_TIRE', 'TIRE_FAIL_TYPE', 'ORIG_EQUIP_YN', 'MANUF_DT',
       'SEAT_TYPE', 'RESTRAINT_TYPE', 'DEALER_NAME', 'DEALER_TEL',
       'DEALER_CITY', 'DEALER_STATE', 'DEALER_ZIP', 'PROD_TYPE', 'REPAIRED_YN',
       'MEDICAL_ATTN', 'VEHICLES_TOWED_YN'],
      dtype='object')

In [118]:
df_inv.columns

Index(['NHTSA_ACTION_NUM', 'MAKE', 'MODEL', 'YEAR', 'COMP_NAME', 'MFR_NAME',
       'ODATE', 'CDATE', 'CAMPNO', 'SUBJECT', 'SUMMARY'],
      dtype='object')

# recall 데이터에 맞게 컬럼 네임 변경

In [119]:
df_com.rename(columns={'COMPDESC':'COMPNAME'},inplace=True)
df_inv.rename(columns={'COMP_NAME':'COMPNAME','MAKE':'MAKETXT','YEAR':'YEARTXT','MODEL':'MODELTXT'},inplace=True)

# 조사데이터 결측지 제거 후 기준 컬럼만 남기기

In [120]:
di = df_inv[['MAKETXT','MODELTXT','YEARTXT','COMPNAME']]

for i in range(len(di)):
    if len(di.loc[i]['MAKETXT']) == 0:
        di.loc[i]['MAKETXT'] = np.nan

In [121]:
di = di.dropna(subset='MAKETXT')
di = di.drop_duplicates()

In [122]:
di

        MAKETXT       MODELTXT YEARTXT                        COMPNAME
0       PONTIAC           6000    1983       SERVICE BRAKES, HYDRAULIC
1          FORD           E350    1977                      SUSPENSION
2          FORD           F350    1982                      SUSPENSION
3          AUDI           5000    1978  VEHICLE SPEED CONTROL:LINKAGES
4          AUDI           5000    1982  VEHICLE SPEED CONTROL:LINKAGES
...         ...            ...     ...                             ...
161450  HYUNDAI  SONATA HYBRID    2018                          ENGINE
161451  HYUNDAI         TUCSON    2012                          ENGINE
161452  HYUNDAI         TUCSON    2018                          ENGINE
161453      KIA         OPTIMA    2005                          ENGINE
161454      KIA         OPTIMA    2007                          ENGINE

[38708 rows x 4 columns]

In [123]:
dr = df_recall[['MAKETXT','MODELTXT','YEARTXT','COMPNAME']]
dr = dr.drop_duplicates()
dr

,MAKETXT,MODELTXT,YEARTXT,COMPNAME
0,FORD,FOCUS,2000,ELECTRICAL SYSTEM:12V/24V/48V BATTERY:CABLES
1,FORD,FOCUS,2001,ELECTRICAL SYSTEM:12V/24V/48V BATTERY:CABLES
2,JAYCO,FT EAGLE 10 SG,2003,EQUIPMENT:OTHER:LABELS
3,HOLIDAY RAMBLER,ENDEAVOR,2000,STRUCTURE
4,HOLIDAY RAMBLER,ENDEAVOR,1999,STRUCTURE
...,...,...,...,...
232176,FALKEN,PRO G5 CSV,9999,TIRES:TREAD/BELT
232180,TEREX,TL,2020,EQUIPMENT:MECHANICAL:BOOM/CRANE/LADDER
232181,TEREX,TL,2022,EQUIPMENT:MECHANICAL:BOOM/CRANE/LADDER
232182,TEREX,TL,2019,EQUIPMENT:MECHANICAL:BOOM/CRANE/LADDER
232183,TEREX,TL,2021,EQUIPMENT:MECHANICAL:BOOM/CRANE/LADDER

# 기준 컬럼으로 inner join

In [124]:
df_merge_inv = pd.merge(df_com,di,on=['MAKETXT','MODELTXT','YEARTXT','COMPNAME'],how='inner')
df_merge_inv

,CMPLID,ODINO,MFR_NAME,MAKETXT,MODELTXT,YEARTXT,CRASH,FAILDATE,FIRE,INJURED,...,RESTRAINT_TYPE,DEALER_NAME,DEALER_TEL,DEALER_CITY,DEALER_STATE,DEALER_ZIP,PROD_TYPE,REPAIRED_YN,MEDICAL_ATTN,VEHICLES_TOWED_YN
0,6,958246,Ford Motor Company,FORD,AEROSTAR,1990,N,,N,0,...,,,,,,,V,,N,N
1,472252,10071345,Ford Motor Company,FORD,AEROSTAR,1990,N,20021115,N,0,...,,,,,,,V,,N,N
2,14,958245,"General Motors, LLC",CHEVROLET,C30,1977,N,19940101,N,0,...,,,,,,,V,,N,N
3,23,958176,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1994,Y,19941230,N,1,...,,,,,,,V,,N,N
4,155,958229,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1994,Y,19941204,N,0,...,,,,,,,V,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216124,1840615,11484759,"Tesla, Inc.",TESLA,MODEL 3,2019,N,20220916,N,0,...,,,,,,,V,,N,N
216125,1841428,11485311,"Tesla, Inc.",TESLA,MODEL X,2019,N,20220807,N,0,...,,,,,,,V,,N,N
216126,1841577,11485412,"Chrysler (FCA US, LLC)",RAM,5500,2017,N,20220919,N,0,...,,Larry H. Miller Chrysler Jeep,8015900465,Sandy,UT,84070,V,,N,Y
216127,1841578,11485413,"Chrysler (FCA US, LLC)",RAM,5500,2017,N,20211020,N,0,...,,Larry H. Miller Chrysler Jeep,8015900465,Sandy,UT,84070,V,,N,Y
216128,1841605,11485432,Ford Motor Company,FORD,F-350,2014,N,20220917,N,0,...,,Tower Motor Company,,Coos Bay,OR,97420,V,,N,N

In [125]:
inv_to_rcl = pd.merge(df_merge_inv,dr,on=['MAKETXT','MODELTXT','YEARTXT','COMPNAME'],how='inner')

In [126]:
inv_to_rcl

,CMPLID,ODINO,MFR_NAME,MAKETXT,MODELTXT,YEARTXT,CRASH,FAILDATE,FIRE,INJURED,...,RESTRAINT_TYPE,DEALER_NAME,DEALER_TEL,DEALER_CITY,DEALER_STATE,DEALER_ZIP,PROD_TYPE,REPAIRED_YN,MEDICAL_ATTN,VEHICLES_TOWED_YN
0,23,958176,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1994,Y,19941230,N,1,...,,,,,,,V,,N,N
1,155,958229,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1994,Y,19941204,N,0,...,,,,,,,V,,N,N
2,31127,483969,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1994,Y,19950627,N,2,...,,,,,,,V,,N,N
3,38510,981303,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1994,Y,19960326,N,1,...,,,,,,,V,,N,N
4,45259,484400,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1994,Y,19940816,N,2,...,,,,,,,V,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71266,1808240,11461749,"Chrysler (FCA US, LLC)",RAM,2500,2019,N,20220421,N,0,...,,AutoNation Chrysler Dodge Jeep,8176427894,Fort Worth,TX,76177,V,,N,Y
71267,1808791,11462138,Ford Motor Company,FORD,FREESTAR,2007,N,20220401,N,0,...,,Interstate Ford,9378660781,Miamisburg,OH,45342,V,,N,N
71268,1822699,11472141,"Takata (TK Global, LLC)",TAKATA,AIR BAG INFLATOR,9999,N,20220629,N,0,...,,,,,,,E,,N,
71269,1836347,11481760,Hyundai Motor America,HYUNDAI,VENUE,2021,N,20220829,N,0,...,,,,,,,V,,N,N
71270,1840615,11484759,"Tesla, Inc.",TESLA,MODEL 3,2019,N,20220916,N,0,...,,,,,,,V,,N,N

In [127]:
df_com['label'] = 0

In [128]:
cmpl_list = inv_to_rcl['CMPLID'].values.tolist()
cmpl_list.sort()

In [129]:
cmpl_list = [int(x) for x in cmpl_list]

In [130]:
for i in cmpl_list:
    df_com.loc[[i-1],['label']] = 1

In [380]:
df = df_com[['MAKETXT','MODELTXT','YEARTXT','COMPNAME','INJURED','DEATHS',
             'DATEA','LDATE','MILES','OCCURENCES','CDESCR','PURCH_DT',
            'ORIG_EQUIP_YN','MANUF_DT','PROD_TYPE','label']]

In [381]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1842085 entries, 0 to 1842084
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   MAKETXT        1842085 non-null  object
 1   MODELTXT       1842085 non-null  object
 2   YEARTXT        1842085 non-null  object
 3   COMPNAME       1842085 non-null  object
 4   INJURED        1842085 non-null  object
 5   DEATHS         1842085 non-null  object
 6   DATEA          1842085 non-null  object
 7   LDATE          1842085 non-null  object
 8   MILES          1842085 non-null  object
 9   OCCURENCES     1842085 non-null  object
 10  CDESCR         1842085 non-null  object
 11  PURCH_DT       1842085 non-null  object
 12  ORIG_EQUIP_YN  1842085 non-null  object
 13  MANUF_DT       1842085 non-null  object
 14  PROD_TYPE      1842085 non-null  object
 15  label          1842085 non-null  int64
dtypes: int64(1), object(15)
memory usage: 224.9+ MB

In [382]:
import pickle
import pandas as pd

# 데이터 저장
df.to_pickle('merge_df.pickle')